<!DOCTYPE html>
<html>
<head>
    <title>Danh sách bài Post</title>
</head>
<body>
     {% if session.get('user_id') %}
        <div style="text-align:right;">
            <a href="{{ url_for('main.logout') }}">Đăng xuất</a>
        </div>
    {% endif %}
    <h1>Danh sách bài Post</h1>
    <table border="1" cellpadding="5">
        <tr>
            <th>Id</th>
            <th>Tiêu đề</th>
            <th>Mô tả</th>
            <th>Giá</th>
            <th>Lượt xem</th>
            <th>Chi tiết</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post.Id }}</td>
            <td>{{ post.Title }}</td>
            <td>{{ post.Description }}</td>
            <td>{{ post.Price }}</td>
            <td>{{ post.ViewCount }}</td>
            <td><a href="{{ url_for('main.post_detail', post_id=post.Id) }}">Xem chi tiết</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
